.button {
    background-color: transparent;
    border-color: hsl(172, 78%, 46%);
    color: #1ad1b9;
    padding: 12px 20px;
    margin: 6px;

}

.button span {
    margin: 0 0.5rem;
}

button:disabled,
button[disabled] {
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
}